<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/v4-shims.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <title>Document</title>
</head>
<body>
 <div class="sidebar navbar-fixed-top">
      <div class="logo">
        <img class="mimg" src="/public/img/Untitled-5.png" alt="">
      </div><hr>

      <div class="navigation">
         <ul class=" navbar-nav ">
          {{#if user}}
           <li><i class="fas menuic fa-home"></i><a href="/dashboard">Dashboard</a></li>
           <li><i class="fas menuic fa-file"></i><a href="">My tests</a></li>
           <li><i class="fas menuic fa-plus"></i><a href="">Create new test</a></li>
           <li><i class="fas menuic fa-graduation-cap"></i><a href="/students">Students</a></li>
          {{else}}
           <li><i class="fas menuic fa-tasks"></i><a href="">Tests</a></li>
          {{/if}}
         </ul>
      </div>
      
      

  </div>


    
      <div class="top-header col-md-10">
        {{#if user}}
        <div class="notifications">
            <a id="title" href="">Dashboard</a>
            <a href=""><i class="far headeric fa-comment"></i></a>
            <a href=""><i class="fas headeric fa-book"></i></a>
            <a href=""><i class="fas headeric fa-cloud"></i></a>
         </div>

    {{/if}}

         <div class="links">
            {{#if user}}
                <a href="/logout">Log out</a>
            {{else}}
                <a href="/registerStudent">Register as student</a>
                <a href="/registerTeacher">Register as teacher</a>
                <a href="/">Log in</a>
            {{/if}}
         </div>

        <div>
          <img class="mob-logo" src="/public/img/Untitled-5.png" alt="">
        </div>
            
           <div class="dropdown">
   <a class="dropdown" data-toggle="dropdown"><i class="fas menubutton fa-align-justify"></i>
   </a>
    <ul class="dropdown-menu">
      <li class="drop"><a href="/registerStudent">Register as student</a></li>
      <li class="drop"><a href="/registerTeacher">Register as teacher</a></li>
      <li class="drop"><a href="/">Log in</a></li>
    </ul>
  </div>
         
         </div>
      

  <div class="col-md-10 content">


      {{#if error_msg}}

        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}
      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}
      {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger">{{msg}}</div>
        {{/each}}
      {{/if}}

      {{{body}}} 
      </div>
        

  <script src="/public/scripts/script.js"></script>
</body>
</html>