<div id="news">
<h3>Most recent test results</h3>
<hr style="background:#434343">

</div>
<br>


<div id="registrations" style="margin-top:50px;margin-bottom:30px"><h3 class="regHead">New registrations</h3>
 
    <hr style="background:#434343">

    {{#each users}}
        <div class="regContent">
            
            <span>
                <em>{{formatDate this.DateOfReg }} - </em> A new {{this.type}} <b>{{this.FirstName }}</b> <b>{{this.LastName }}</b> with Email <b><span class="regEmail">{{this.Email}}</span></b> has registered.
            </span> 

            <span class="handleRegBtns"><br>
                <a href="/send/{{this.ID}}">
                    <button class="btn btn-success btn-sm studentAcceptBtn">Accept</button>
                </a> 
                <button class="btn btn-danger btn-sm studentDeclineBtn">Decline</button>
            </span>
            <hr>
        </div>
    {{/each}}

    {{#unless users}}
        <span>There are currently no newly registered users</span>
    {{/unless}}

 </div>

