{{!-- <h1>Hello there, {{name}} {{lname}}</h1> --}}
<div class="container">
 <div class="col-md-6 newquest">

<input class="btn-create" type="button" value="Create New Qusetion +" onclick="addRow()">

<div id="content">

</div>
<button class="btn btn-success">Save the test</button>
<button class="btn btn-danger">Cancel the test</button>
 </div>
 <div class="col-md-4 ">

     <label for="">Time of passing the test Min:Sec </label><input type="time">

 </div>
 </div>


<div id="registrations">
    <h3 class="regHead">New registrations</h3>
    <hr style="background:#434343">

    {{#each users}}
    <div class="regContent"><em>{{formatDate this.Date }} - </em><span>A new {{this.type}} <b>{{this.FirstName }} </b> <b>{{this.LastName }}</b> with Email <b><span class="regEmail">{{this.Email}}</span></b> has registered.</span> 
     <span class="handleRegBtns"><button class="btn btn-success btn-sm studentAcceptBtn">Accept</button> <button class="btn btn-danger btn-sm studentDeclineBtn">Decline</button></span><hr></div>
   
    {{/each}}

    {{#unless users}}
    <span>There are currently no newly registered students or teachers</span>

    {{/unless}}

    {{!-- {{#each temp_teachers}}
    <div class="regContent"><em>{{formatDate this.Date }} - </em> <span>A new teacher <b>{{this.FirstName }}</b> <b>{{this.LastName }}</b> with Email adress <b>{{this.Email}}</b> has registered.</span> 
    <span class="handleRegBtns"><button class="btn btn-success btn-sm teacherAcceptBtn">Accept</button> <button class="btn btn-danger btn-sm teacherDeclineBtn">Decline</button></span></div>
   <hr>
    {{/each}} --}}
 </div>
