{{!-- <div>

      {{#if error}}
        <div class="alert alert-danger mb-5">{{error}}</div>
      {{/if}}
      {{#if errors}}
        {{#each errors}}
          <div class="alert alert-danger mb-5">{{msg}}</div>
        {{/each}}
      {{/if}}
</div> --}}
{{#if studentInfo}}
<h2>{{studentInfo.[0].FirstName}} {{studentInfo.[0].LastName}}</h2>

<a href="/students/pass/{{studentInfo.[0].ID}}">
    <button class="btn btn-success btn-sm studentAcceptBtn">Change pass</button>
</a>
<a href="/students/archive/{{studentInfo.[0].ID}}">
    <button class="btn btn-danger btn-sm studentDeclineBtn">Archive</button>
</a>

{{else}}
<h2>No tests found</h2>
{{/if}}

<div>

    <form action="/students/category" method="POST">

    <div class="input-group mb-3 col-centered">
        <input type="hidden" name="student_id" value="{{studentInfo.[0].ID}}">

        <span class="col-md-3 col-sm-2 h4 text-right">Choose category:</span>
        <select class="col-md-2 col-sm-4 class-select" name="options" onchange="this.form.submit()">
            <option value="all" selected>All</option>
            {{#each categories}}
            <option value="{{ID}}" {{#if (eq ID ../categoryId)}}selected {{/if}}>{{CategoryName}}</option>
            {{/each}}
        </select>

    </div>
    </form>
</div>

<div>
    {{#if student}}
    <table id="studenttable" class="table table_show student-table table-bordered">
        <thead class="thead">
            <tr>
                <th>#</th>                  
                <th>CategoryName</th>
                <th>TestName</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {{#each student}}
            <tr>
                <td class="number"></td>
                <td class="class">{{CategoryName}}</td>
                <td class="class">{{TestName}}</td>
                <td class="class">{{Score}}%</td>
                <td class="class">{{formatDate Date}}</td>                
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{else}}
    <p>No students found</p>
    {{/if}}
</div>


<canvas id="lineChart" height="400" width="400" style="border:solid"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
    const CHART = document.getElementById("lineChart");
    console.log(CHART);

    Chart.defaults.global.responsive = false;

    var lineChart = new Chart(CHART, {
        type: 'horizontalBar',
        data: {
            labels: [{{#each testArr }}"{{this}}",{{/ each}}],
    datasets: [{
        label: 'Tests score',
        data: [{{scoreArr}}]
    }]
        },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                beginAtZero: true,
                max: 100,
                min: 0
            }
            }]
        }
    }
   });
</script>