<div class="container">

  <form method="post" action="/test/{{TestName}}/edit" id="form">
    <input type="hidden" name="QID" class="hiddenQID">
    <!-- Modal -->
    <div class="modal fade" id="Edit" role="dialog">
      <div class="modal-dialog">
        <!-- contenModal t-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit question</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div id="counter"></div>
            <div class="text-center">
              <textarea name="textQuest" id="questioninput" class="questioninput" cols="30" rows="3"></textarea>
            </div>

            <div class="row">
              <div class="container">
                <div class="col-md-12 col-sm-12">

                  <div class="container">
                    <div class="text-center">
                      <span>Points:</span>
                      <select name="selectPoint" class="selectPoints" id="pointsin">
                        <optgroup label="Select points">
                          <option name="1" value="1">1</option>
                          <option name="2" value="2">2</option>
                          <option name="3" value="3">3</option>
                          <option name="4" value="4">4</option>
                          <option name="5" value="5">5</option>
                        </optgroup>
                      </select>
                    </div>
                    <br>
                    <div style="margin-left:35px; padding:5px;">
                      <strong>Answers</strong>
                      <strong style="margin-left:153px;">Correct</strong>
                    </div>
                    <label for="">A</label>
                    <input class="answer col-md-6 col-sm-6" id="ansa" type="text" name="ansa" value="" required>
                    <input class="ok checka" name="corr" type="radio" value="A">
                    <br>
                    <label for="">B</label>
                    <input class="answer col-md-6 col-sm-6" id="ansb" type="text" name="ansb" value="" required>
                    <input class="ok checkb" name="corr" type="radio" value="B">
                    <br>
                    <label for="">C</label>
                    <input class="answer col-md-6 col-sm-6" id="ansc" type="text" name="ansc" value="" required>
                    <input class="ok checkc" name="corr" type="radio" value="C">
                    <br>
                    <label for="">D</label>
                    <input class="answer col-md-6 col-sm-6" id="ansd" type="text" name="ansd" value="" required>
                    <input class="ok checkd" name="corr" type="radio" value="D">
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-md testedit btn-success">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form action="/test/{{TestName}}" method="POST" id="form">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- contenModal t-->
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">Add new question</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body text-left">

            {{!--
            <input class="btn-create col-md-12" type="button" value="Create New Qusetion +" onclick="addRow()"> --}}

            <div class="text-center">
            <textarea class="form-control questioninput" name="textQuest" id="questioninput" placeholder="Type in your question" required cols="30" rows="3"></textarea>
            <div class="message"></div>
            </div>
            {{!--
            <input class="col-md-8 col-sm-10 questioninput" id="questioninput" placeholder="Question?" required type="text"
              name="textQuest" --}} {{!-- /> --}} {{!--
            <input class="btn btn-danger btn-delete" type="button" value="Delete" onclick="removeRow(this)"> --}}

            <div class="row">
              <div class="container">
                <div class="col-md-12 col-sm-12">

                  <div class="container">
                    <div class="text-center">
                      <span>Points:</span>
                      <select name="selectPoint" id="pointsin">
                        <optgroup label="Select points">
                          <option name="1" value="1">1</option>
                          <option name="2" value="2">2</option>
                          <option name="3" value="3">3</option>
                          <option name="4" value="4">4</option>
                          <option name="5" value="5">5</option>
                        </optgroup>
                      </select>
                    </div>
                    <br>
                    <div style="margin-left:35px; padding:5px;">
                      <strong>Answers</strong>
                      <strong style="margin-left:153px;">Correct</strong>
                    </div>

                    <label for="ansa">A</label>
                    <input class="answer col-md-6 col-sm-6" id="ansa" type="text" required name="ansa">
                    <input class="ok" name="corr" type="radio" value="A" checked>
                    <br>
                    <label for="ansb">B</label>
                    <input class="answer col-md-6 col-sm-6" id="ansb" required type="text" name="ansb">
                    <input class="ok" name="corr" type="radio" value="B">
                    <br>
                    <label for="ansc">C</label>
                    <input class="answer col-md-6 col-sm-6" id="ansc" required type="text" name="ansc">
                    <input class="ok" name="corr" type="radio" value="C">
                    <br>
                    <label for="ansd">D</label>
                    <input class="answer col-md-6 col-sm-6" id="ansd" required type="text" name="ansd">
                    <input class="ok" name="corr" type="radio" value="D">
                  </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
          <div class="modal-footer">
            <button type="submit" id="addnewquest" class="btn btn-md testsave btn-success" >Add the question</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </form>


</div>
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="choose" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <h4 class="modal-title">Choose from existing Questions</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="testSelect">Select test to choose questions from</label>
            <select class="form-control col-md-6" id="testSelect">
             
            </select>
          </div>
          <hr>

          <div id="questions" style="overflow-y: scroll; height:300px;">


          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>


<div class="container testcreate">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <h4>Test name:
            <span id="nameOfTest">{{TestName}}</span>
          </h4>
        </div>
        <div class="col-md-6">
          <h4>Test category: {{CategoryName}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <button type="button" id="addquest" class="btn addquest btn-info btn-md col-md-12 " data-toggle="modal" data-target="#myModal">Add new question</button>
      <button type="button" id="chooseExist" class="btn addExistQuestion btn-info btn-md col-md-12" data-toggle="modal" data-target="#choose">Choose from existing questions</button>
      <table class="col-md-12 testquestions" id="questionlist">
        <thead>
          <tr id="test">
            <th>Question</th>
            <th>Answers</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {{#each questions}}
          <tr>
            <td>{{this.QuestionText}}</td>
            <td id="tooltip">Answers
              <span id="tooltiptext">
                <p>A. {{this.ans1}}</p>
                <p>B. {{this.ans2}}</p>
                <p>C. {{this.ans3}}</p>
                <p>D. {{this.ans4}}</p>
              </span>
            </td>

            <td>
              <button value="{{ID}}" type="button" class="btn addquest editBtn btn-info btn-md col-md-12" data-toggle="modal" data-target="#Edit">Edit
              </button>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    <div class="buttons col-md-12 col-sm-12">
      {{!--
      <button class="btn col-sm-12 testbtns btn-success">Save the test</button>
      <button class="btn col-sm-12 testbtns btn-danger">Cancel the test</button> --}}
    </div>
  </div>
</div>